click==8.1.5
markdown-it-py==3.0.0
mdurl==0.1.2
mypy-extensions==1.0.0
packaging==23.1
pathspec==0.11.1
platformdirs==3.9.1
pygame==2.5.0
Pygments==2.15.1
pyserial==3.5
tomli==2.0.1
typing_extensions==4.7.1
